@use "src/scss/vars" as *;

.btn {
    cursor: pointer;
    border: none;
    color: $c-text;
    background-color: transparent;
    font-size: 12pt;
    border-radius: 5px;
    margin-left: 0.5rem;
    &:hover {
        background-color: $c-bg-hover;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 25px;
        height: 25px;
    }
}

.btn-children {
    margin-inline: 0.5rem;
}

.btn-icon-right {
    width: 25px;
    height: 25px;
    // padding-left: 10px;
}
.btn-icon-left {
    width: 25px;
    height: 25px;
    // padding-right: 10px;
}
