@use "src/scss/vars" as c;

.header-wrapper {
    background-color: c.$c-bg-dark;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-btn {
    cursor: pointer;
    border: none;
    color: c.$c-text;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 0.5rem;

    &:hover {
        background-color: c.$c-bg-hover;
    }
    svg {
        width: 20px;
        height: 20px;
    }
}

.btn-wapper {
    display: flex;
}
